name: CI/CD - Build, Push and Deploy

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore:
      - ".github/**"

jobs:
  # =====================================================================
  #  CI — BUILD & PUSH IMAGE
  # =====================================================================
  build-and-push:
    runs-on: ubuntu-latest

    env:
      REGISTRY: registry.digitalocean.com/k8sgametemplate-${{ github.repository_id }}
      IMAGE_NAME: k8sgame

    outputs:
      tag_run: ${{ steps.build.outputs.tag_run }}
      registry_path: ${{ steps.build.outputs.registry_path }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker login
        run: |
          echo "${{ secrets.DO_TOKEN }}" | docker login \
            ${{ env.REGISTRY }} \
            -u "do" --password-stdin

      - name: Build Docker image
        id: build
        run: |
          REGISTRYPATH="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}"
          TAG_LATEST=":latest"
          TAG_RUN=":build-${{ github.run_number }}"

          echo "Building: $TAG_RUN"

          docker build \
            -t "$REGISTRYPATH$TAG_LATEST" \
            -t "$REGISTRYPATH$TAG_RUN" \
            -f ./package/Dockerfile \
            ./game

          echo "tag_latest=$TAG_LATEST" >> $GITHUB_OUTPUT
          echo "tag_run=$TAG_RUN" >> $GITHUB_OUTPUT
          echo "registry_path=$REGISTRYPATH" >> $GITHUB_OUTPUT

      - name: Push Docker image
        run: |
          docker push "${{ steps.build.outputs.registry_path }}${{ steps.build.outputs.tag_latest }}"
          docker push "${{ steps.build.outputs.registry_path }}${{ steps.build.outputs.tag_run }}"

  # =====================================================================
  #  CD — DEPLOY NO KUBERNETES
  # =====================================================================
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_TOKEN }}

      - name: Baixar kubeconfig do cluster
        run: doctl kubernetes cluster kubeconfig save k8sgametemplate-cluster

      - name: Aplicar manifesto com tag dinâmica
        run: |
          IMAGE_FULL_NAME="${{ needs.build-and-push.outputs.registry_path }}${{ needs.build-and-push.outputs.tag_run }}"
          SANITIZED_USER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]' | sed 's/[^a-z0-9-]//g')

          echo "Deploying image: $IMAGE_FULL_NAME"

          sed "s|{{ImageFullName}}|${IMAGE_FULL_NAME}|g" ./package/k8sdeploy.yaml | \
            sed "s|{{HostName}}|${SANITIZED_USER}|g" | \
            kubectl apply -f -
