name: Build & Push Docker Image (CI)

on:
  push:
    branches: ["main"]
    paths-ignore:
      - ".github/**"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      REGISTRY: registry.digitalocean.com/k8sgametemplate-${{ github.actor_id }}
      IMAGE_NAME: k8sgame

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Login no Container Registry da DO
      - name: Docker login
        run: |
          echo "${{ secrets.DO_TOKEN }}" | docker login \
            ${{ env.REGISTRY }} \
            -u "do" --password-stdin

      # Build
      - name: Build Docker image
        run: |
          TAG_LATEST="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest"
          TAG_RUN="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:build-${{ github.run_number }}"

          echo "Building image: $TAG_LATEST and $TAG_RUN"

          docker build \
            -t "$TAG_LATEST" \
            -t "$TAG_RUN" \
            -f Game/Dockerfile \
            Game

          echo "tag_latest=$TAG_LATEST" >> $GITHUB_OUTPUT
          echo "tag_run=$TAG_RUN" >> $GITHUB_OUTPUT

      # Push
      - name: Push Docker image
        run: |
          docker push "${{ steps.build-and-push.outputs.tag_latest }}"
          d
