name: Create Kubernetes Cluster (Infra)

on:
  workflow_dispatch:

permissions:
  actions: write
  contents: read

jobs:
  create-infra:
    name: Create DigitalOcean Infrastructure
    runs-on: ubuntu-latest

    steps:
      - name: Trigger CI-CD
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: "ci-cd.yaml",
              ref: "main"
            });
