name: Create Kubernetes Cluster (Infra)

on:
  workflow_dispatch:

jobs:
  create-infra:
    name: Create DigitalOcean Infrastructure
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_TOKEN }}

      - name: Create Kubernetes Cluster
        run: |
          doctl kubernetes cluster create k8sgametemplate-cluster \
            --region=nyc1 \
            --version=latest \
            --tag=demo \
            --node-pool "name=np1;size=s-2vcpu-4gb;count=1" || \
            echo "Cluster already exists"

      - name: Wait for Cluster Readiness
        run: doctl kubernetes cluster wait demo-cluster

      - name: Create Container Registry
        run: |
          doctl registry create "k8sgametemplate-${{ github.actor_id }}" || \
            echo "Registry already exists"

      - name: Link Registry to Cluster
        run: |
          doctl kubernetes cluster registry add demo-cluster || \
            echo "Link already exists"
